.mainDash {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    min-height: calc(100vh - 8rem);
    // justify-content: space-evenly;
    // margin-top: 2rem;
    // padding-right: 2rem;
}

@media (max-width: 1200px) {
    .mainDash {
        margin-top: 2rem;
        justify-content: flex-start;
        h1 {
            margin-bottom: 2rem;
        }
    }
}

// @media screen and (max-width: 768px) {
//     .mainDash{

// }
// }
