.compactCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 1rem;
    color: white;
    flex: 1;
    border-radius: 0.5rem;
    height: 5rem !important;
    cursor: pointer;
    &:hover {
        box-shadow: none !important;
    }

    .radialBar {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 1rem;

        .CircularProgressbar {
            width: 4rem !important;
            overflow: visible;
        }
        .CircularProgressbar-path {
            stroke: white !important;
            filter: drop-shadow(2px 4px 6px white);
            stroke-width: 12px !important;
        }
        .CircularProgressbar-trail {
            display: none;
        }
        .CircularProgressbar-text {
            fill: white !important;
        }
    }

    .detail {
        display: flex;
        flex-direction: row;
        // flex: 1;
        // justify-content: space-between;
        // align-items: flex-end;
        span {
            font-size: 24px;
            font-weight: bold;

            &:nth-child(2) {
                font-size: 1.8rem;
            }
            &:nth-child(3) {
                font-size: 0.8rem;
                font-weight: 400;
                // color: rgba(255, 255, 255, 0.962);
            }
        }
    }
}

.expandedCard {
    position: absolute;
    // top: 1.5rem;
    // left: 1.5rem;
    // right: 1.5rem;
    bottom: 1.5rem;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    
    // width: calc(100% - 7rem);
    z-index: 9;
    border-radius: 0.5rem;
    display: flex;
    min-height: calc(100vh - 3rem);
    // min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    // justify-content: space-between;
    padding: 1rem;
    padding-top: 2rem;
    // transition: all 300ms ease;

    span {
        // &:nth-of-type(1) {
        //     // color: white;
        //     font-weight: 700;
        //     // font-size: 2.5rem;
        //     text-shadow: 0px 0px 20px white;
        // }
        &:nth-of-type(2) {
            // color: rgba(255, 255, 255, 0.966);
            // font-size: 1rem;
        }
    }
    .chartContainer {
        // width: 75%;
        // color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
    }
}

@media (max-width: 1200px) {
    .expandedCard {
        top: 2rem;
        // height: 45vh;
        left: 8rem;
    }
}

@media screen and (max-width: 786px) {
    .expandedCard {
        // top: 6rem;
        // left: 15px;
        height: 50%;
        width: 80%;
    }
}
